<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Mapy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="styles/main.css">
    <link rel="stylesheet" type="text/css" media="screen" href="styles/codeblock.css">
    <link rel="stylesheet" type="text/css" href="../../node_modules/highlight.js/styles/monokai-sublime.min.css">
    <link rel="stylesheet" type="text/css" href="../../node_modules/katex/dist/katex.min.css">
    <link rel="stylesheet" type="text/css" href="../../node_modules/markdown-it-texmath/css/texmath.css">
    <link rel="stylesheet" type="text/css" href="styles/mermaid.css">

</head>
<body>

    <div class="container">    
        <section class="content">
            <label for="markdown" hidden>Markdown</label>
            <div class="raw-markdown" id="markdown"></div>
            <div class="rendered-html" id="html"></div>
        </section>
    </div>

    <script>
        require("./scripts/main")
        require("./scripts/word-cloud")
    </script>
</body>
</html>