img {
    max-width: 80%;
}

nav {
    display: block;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    margin-left: 2em;
    text-indent: 0;   
    text-wrap: balance;
}

h1, h2 {
    text-indent: -1rem;
    max-width: 48rem;
}

h3, h4 {
    max-width: 60rem;
}

eqn {
    font-size: 1.1rem;
    overflow-x: scroll;
}

eqn ::-webkit-scrollbar {
    width: 0;
    height: 5px;
}

pre {
    width: 100%;
    font-size: large;
    border-radius: 10px;
    background-color: #23241f;
    counter-reset: linecounter;
    overflow-x: scroll;
}
pre ::-webkit-scrollbar {
    height: 5px;
}

pre .line-num {
    min-width: 2rem;
    display: inline-block;
}

pre .line-num::before {
    counter-increment: linecounter;
    content: counter(linecounter);
    color: grey;
}

code .line-num:last-of-type {
    display: none;
}

.table-of-contents li {
    list-style-type: none;
}

.table-of-contents a {
    text-decoration: none;
    color: gray;
}

div .left {
    text-align: left;
}

div .center {
    text-align: center;
}

div .right {
    text-align: right;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
}

.raw-markdown > p, blockquote {
    display: inline-block;
    word-break: break-all;
    overflow-wrap: break-word;
}

.rendered-html p + p {
    margin-bottom: 20px;
}

eq, code, li {
    text-indent: 0;
}

mark {
    border-radius: 3px;
}

#word-cloud {
    width: 600px;
    height: 400px;
    backdrop-filter: blur(10px);
    opacity: 0.5;
    top: 30%;
    left: 30%;
    z-index: 9999;
}

@media (prefers-color-scheme: dark) {
    img {
      opacity: .75;
      transition: opacity .5s ease-in-out;
    }
    img:hover {
      opacity: 1;
    }
}

a {
    color: aquamarine;
}


h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-color 0.2s ease-in-out;
}
      
h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
    border-color: powderblue;
}


table {
    margin-left: 2rem;
    margin-right: 2rem;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(147, 226, 255, 0.5)
}
th, td {
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
    color: #fff;
}
th {
    text-align: center;
}
thead th {
    background-color: #55608f;
}
tbody tr:hover {
    background-color: rgba(255,255,255,0.3);
}
tbody td {
    position: relative;
}
tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255,255,255,0.2);
    z-index: -1;
}

.rendered-html ::selection {
    background-color: rgb(133, 200, 239); 
    color: rgb(255, 81, 0)
}

aside {
    font-size: 80%;
    position: relative;
}
/* Wide viewport */
@media (min-width: 1400px) {
    aside {
        float: right;
        clear: right;
        margin-right: -23vw;
        text-align: left;

        top: -3rem;
        width: 20vw;
        margin-top: 1rem;
    }
}

.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: 0.1em;
}
