.codeblock {
    width: 80%;
    font-size: 16px;
    display: block;
    align-items: center;
    justify-content: center;
}
.codeblock .codeblock-top {
    height: 15px;
    background-color: #23241f;
    padding: 8px 12px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.codeblock .codeblock-body {
    background-color: #23241f;
    font-size: 13px;
    color: #666666;
    overflow: auto;
    padding: 20px;
}
.codeblock .codeblock-top div {
    float: left;
    margin-right: 10px;
    width: 13px;
    height: 13px;
    background-color: #FF5F57;
    border-radius: 50px;
}
.codeblock .codeblock-top .circle-yellow{
    float: left;
    margin-right: 10px;
    width: 13px;
    height: 13px;
    background-color: #FFBD2E;
    border-radius: 50px;
}
.codeblock .codeblock-top .circle-green{
    float: left;
    margin-right: 10px;
    width: 13px;
    height: 13px;
    background-color: #28CA42;
    border-radius: 50px;
}

.language-title {
    margin-left: 25%;
    text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff;        
}

.named-fence-block {
    position: relative;
    padding-top: 2em;
}
  
.named-fence-filename {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 4px;
    font-weight: bold;
    color: #8b87ff;
    background: #030034;
    opacity: 0.6;
}

.m-mdic-copy-wrapper {
    position: absolute;
    top: 16px;
    right: 16px;
}
.m-mdic-copy-wrapper span.u-mdic-copy-code_lang {
    position: absolute;
    top: 3px;
    right: calc(100% + 4px);
    font-family: system-ui;
    font-size: 12px;
    line-height: 18px;
    color: #666;
    opacity: 0.3;
}
.m-mdic-copy-wrapper div.u-mdic-copy-notify {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px 6px;
    border: 0;
    border-radius: 3px;
    background: none;
    font-family: system-ui;
    font-size: 12px;
    line-height: 18px;
    color: #666;
    opacity: 0.3;
    outline: none;
    opacity: 1;
    right: 100%;
    padding-right: 4px;
}
.m-mdic-copy-wrapper button.u-mdic-copy-btn {
    position: relative;
    top: 0;
    right: 0;
    padding: 3px 6px;
    border: 0;
    border-radius: 3px;
    background: none;
    font-family: system-ui;
    font-size: 12px;
    line-height: 18px;
    color: #666;
    opacity: 0.3;
    outline: none;
    cursor: pointer;
    transition: opacity 0.2s;
}
.m-mdic-copy-wrapper button.u-mdic-copy-btn:hover {
    opacity: 1;
}
