@font-face {
    font-family: XialuWenkai;
    src: url("../fonts/LXGWWenKaiLite-Regular.ttf") format("truetype");  
    font-weight: normal;
}
  
@font-face {
    font-family: XialuWenkai;
    src: url("../fonts/LXGWWenKaiLite-Bold.ttf") format("truetype");  
    font-weight: bold;
}

@font-face {
    font-family: Consolas;
    src: url("../fonts/Consolas-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: Hack;
    src: url("../fonts/Hack-Regular.ttf");
    font-weight: normal;
}
