.fa:hover {
    text-shadow: 0 0 4px #25ccf7;
}

.fa::before {
    content: "";
    border-radius: 50%;
    background: #25ccf7;
    transition: 0.6s;
    transform: scale(0.8);
    z-index: -1;
}

.fa:hover::before {
    box-shadow: 0 0 14px 2px #25ccf7;
    transform: scale(1.05);
}
    