html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    position: absolute;
}

body, input {
    font: menu;
}

textarea, input, div, button {
    outline: none;
    margin: 0;
}

.controls {
    background-color: rgb(217, 241, 238);
    padding: 10px 10px 10px 10px;
}

button {
    font-size: 14px;
    background-color: rgb(181, 220, 216);
    border: none;
    padding: 0.5em 1em;
}

button:hover {
    background-color: rgb(156, 198, 192);
}

button:active {
    background-color: rgb(144, 182, 177);
}

button:disabled {
    background-color: rgb(196, 204, 202);
}



.content {
    height: 60vh;
    display: flex;
}

.raw-markdown, .rendered-html {
    min-height: 50%;
    max-width: 50%;
    flex-grow: 1;
    padding: 1em;
    overflow: scroll;
    font-size: 16px;
}

.raw-markdown {
    border: 5px solid rgb(238, 252, 250);
    background-color: rgb(238, 252, 250);
    font-family: monospace;
}

.rendered-html {
    letter-spacing: 1px;
    line-height: 1.5;
    text-indent: 2em;
    text-align: left;
}

pre {
    width: 100%;
    font-size: large;
    border-radius: 10px;
    background-color: #23241f;
    counter-reset: linecounter;
}

pre .line-num {
    min-width: 3ch;
    display: inline-block;
}

pre .line-num::before {
    counter-increment: linecounter;
    content: counter(linecounter);
    color: grey;
}

.table-of-contents li {
    list-style-type: none;
}

.table-of-contents a {
    text-decoration: none;
    color: gray;
}
  

.raw-markdown > p, blockquote {
    display: inline-block;
    word-break: break-all;
    overflow-wrap: break-word;
}

.rendered-html p + p {
    margin-bottom: 20px;
}

eq, code, li {
    text-indent: 0;
}

#word-cloud-container {
    height: 45vh;
}

#word-cloud {
    display: block;
    height: 80%;
}
