html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background-color: #23241f;
    color: antiquewhite;
    margin: 0;
    padding: 0;
    position: relative;
}

body, input {
    font: menu;
}

textarea, input, div, button {
    outline: none;
    margin: 0;
}


.content {
    height: 100vh;
    display: flex;
}

.raw-markdown, .rendered-html {
    padding: 1em;
    max-width: 50%;
    flex-grow: 1;
    overflow: scroll;
    font-size: 16px;
}

.raw-markdown {    
    padding-right: 0;
}

.raw-markdown {
    border: 5px solid #23241f;
    color: rgb(238, 252, 250);
    font-family: monospace;
}

.rendered-html {
    letter-spacing: 1px;
    line-height: 1.5;
    text-indent: 2em;
    text-align: left;
}

pre {
    width: 100%;
    font-size: large;
    border-radius: 10px;
    background-color: #23241f;
    counter-reset: linecounter;
}

pre .line-num {
    min-width: 3ch;
    display: inline-block;
}

pre .line-num::before {
    counter-increment: linecounter;
    content: counter(linecounter);
    color: grey;
}

.table-of-contents li {
    list-style-type: none;
}

.table-of-contents a {
    text-decoration: none;
    color: gray;
}
  

.raw-markdown > p, blockquote {
    display: inline-block;
    word-break: break-all;
    overflow-wrap: break-word;
}

.rendered-html p + p {
    margin-bottom: 20px;
}

eq, code, li {
    text-indent: 0;
}

#word-cloud {
    width: 600px;
    height: 400px;
    backdrop-filter: blur(10px);
    opacity: 0.5;
    top: 30%;
    left: 30%;
    z-index: 9999;
}

@media (prefers-color-scheme: dark) {
    img {
      opacity: .75;
      transition: opacity .5s ease-in-out;
    }
    img:hover {
      opacity: 1;
    }
}

::-webkit-scrollbar {
    width: 5px;
    height: 0;
}
::-webkit-scrollbar-track {
    background-color: rgb(40, 44, 52)
}
::-webkit-scrollbar-thumb {
    background-color: #abb09f;
}

a {
    color: aquamarine;
}

.cm-line {
    padding-right: 5px;
}
